@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-neon-orange to-neon-blue;
  }
  
  .border-gradient {
    @apply border-2 border-transparent bg-gradient-to-r from-neon-orange to-neon-blue bg-clip-border;
  }
}

